:root {
    --primaryColor: #42cebb;
    --secondaryColor: #429bce;
    --accentColor: #42ce75;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--primaryColor);
    font-size: 18px;
}
.title {
    text-align: center;
}
.values {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableContainer {
    display: table;
}
table,
tr,
th,
td {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    background-color: var(--secondaryColor);
    border: 2px solid black;
}
tr:nth-child(odd) {
    background-color: var(--accentColor);
}
/* th {
    background-color: var(--accentColor);
} */
th:empty {
    visibility: hidden;
    background-color: var(--secondaryColor);
    border: none;
}
