*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hotpink;
    font-size: 18px;
}
.title {
    text-align: center;
}
.values {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableContainer {
    display: table;
}
